<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>卡卡拼车</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  
  <body ng-app="icarving" ng-controller="RootCtrl">
  
    <ion-header-bar class="bar-positive">
		<h1 class="title">卡卡拼车</h1>
	</ion-header-bar>
  
    <ion-tabs class="tabs-icon-left tabs-positive">

      <ion-tab title="查找" 
               icon-on="ion-ios7-filing" 
               icon-off="ion-ios7-filing-outline" 
               ng-controller="SearchCtrl">
        <ion-content has-header="true">
           <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
               <i class="icon ion-ios7-search placeholder-icon"></i>
               <input type="search" placeholder="Search">
            </label>
            <button class="button button-balanced">
                                       搜索
            </button>
           </div>

           <ion-refresher  pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>       
           <ion-list scroll="false" animation="fade-out">
            <ion-item class="item-divider">近期发布的捡人活动</ion-item>
            <ion-item ng-repeat="item in items">
              <i class="icon ion-email"></i> {{item.sourceAddress}}, {{item.status}}
            </ion-item>
            
            <ion-item class="item-divider">近期发布的求捡活动</ion-item>
            <ion-item ng-repeat="item1 in items1">
             <i class="icon ion-chatbubble-working"></i> {{item1.sourceAddress}}, {{item1.status}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>

      <ion-tab title="捡人" icon-on="icon ion-ios7-clock" icon-off="icon ion-ios7-clock-outline" ng-controller="PickCtrl">
        <header class="bar bar-header bar-positive">
          <h1 class="title">Deadlines</h1>
        </header>
        <ion-content has-header="true">
          <div class="list">
            <label class="item item-input">
               <input type="text" placeholder="出发地">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="目的地">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="出发时间">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="返回时间">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="汽车类型">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="可捡人数目">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="费用">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="备注">
            </label>
            <button class="button button-block button-balanced" ng-click="publishPickActivity()">
              <i class="icon ion-person-add"></i>&nbsp;发布捡人活动
            </button>
         </div>
        </ion-content>
      </ion-tab>
      
      <ion-tab title="被捡" icon-on="icon ion-ios7-clock" icon-off="icon ion-ios7-clock-outline" ng-controller="PickedCtrl">
        <header class="bar bar-header bar-positive">
          <h1 class="title">Deadlines</h1>
        </header>
        <ion-content has-header="true">
                    <div class="list">
            <label class="item item-input">
               <input type="text" placeholder="出发地">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="目的地">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="出发时间">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="返回时间">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="汽车类型">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="费用">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="备注">
            </label>
            <button class="button button-block button-balanced" ng-click="publishPickedActivity()">
              <i class="icon ion-person-add"></i>&nbsp;发布求捡活动
            </button>
         </div>
        </ion-content>
      </ion-tab>

      <ion-tab title="个人" icon-on="icon ion-ios7-gear" icon-off="icon ion-ios7-gear-outline" ng-controller="MyCtrl">
        <ion-content has-header="true">
           <ion-refresher  pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>       
           <ion-list scroll="false" animation="fade-out">
            <ion-item class="item-divider">我发布的捡人活动</ion-item>
            <ion-item ng-repeat="item in items">
             <i class="icon ion-email"></i> {{item.sourceAddress}}, {{item.status}}
            </ion-item>
            
            <ion-item class="item-divider">我发布的求捡活动</ion-item>
            <ion-item ng-repeat="item1 in items1">
             <i class="icon ion-chatbubble-working"></i> {{item1.sourceAddress}}, {{item1.status}}
            </ion-item>
            
            <ion-item class="item-divider">我参与的捡人活动</ion-item>
            <ion-item ng-repeat="item2 in items2">
              <i class="icon ion-bug"></i> {{item2.pickActivityId}}, {{item2.status}}
            </ion-item>
            
            <ion-item class="item-divider">我参与的求捡活动</ion-item>
            <ion-item ng-repeat="item3 in items3">
             <i class="icon ion-person-stalker"></i> {{item3.pickedActivityId}}, {{item3.status}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>
      
    </ion-tabs>
    	
  </body>
</html>
