/* Empty. Add your own CSS if you like */

.popup-container .popup {
    max-height: 100%;
    width: 450px;
}
.popup-body .datetimepicker {
  min-height: 221px;
}
.popup-body .datetimepicker table {
  width: 100%;
}
.glyphicon {
  vertical-align: top;
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon:before {
  vertical-align: top;
  font-size: 32px;
  line-height: 32px;
  padding-right: 2px;
  padding-left: 2px;
  display: inline-block;
  padding: 0 0 1px 0;
}
.glyphicon-arrow-right:before {
  content: "\f10a";
}
.glyphicon-arrow-left:before{
  content: "\f107";
}

.newmessage {
	color: red;
}

.oldmessage {
	color: black;
}

#mcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 20000;
}
#mcover img {
    position: fixed;
    right: 18px;
    top: 5px;
    width: 260px!important;
    height: 180px!important;
    z-index: 20001;
}