<ion-view view-title="申请列表">
  <ion-content>
        <ion-list scroll="false" animation="fade-out">
         <ion-item ng-repeat="apply in applies | orderBy:'applyId' :reverse=true">
           <div class="row">
             <div class="col col-50" style="margin-left:-25px">申请人：{{apply.ownerName}}
             </div>
               <button class="button button-balanced button-small icon ion-checkmark-circled col" style="margin-top: 0px" ng-click="approveApply(apply.applyId)">
                                                             批准
               </button>
               <button class="button button-assertive button-small icon ion-close-circled col" style="margin-top: 0px; margin-right:-20px" ng-click="unApproveApply(apply.applyId)">
                                                             拒绝    
               </button>
           </div>           
         </ion-item>
       </ion-list>
  </ion-content>
</ion-view>
