<ion-view view-title="消息">
  <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
               <span class="input-label">发信人</span><input type="text" placeholder="目的地" ng-disabled="true" value={{message.fromUid}}>
            </label>
            <label class="item item-input">
                <span class="input-label">消息内容</span><input type="text" placeholder="出发时间" ng-disabled="true" value={{message.content}}>
            </label>
         </div>
  </ion-content>
</ion-view>
