<ion-view view-title="我发布的捡人活动列表">
  <ion-content>
        <ion-refresher  pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>       
        <ion-list scroll="false" animation="fade-out">
         <ion-item  class="item-icon-right" ng-repeat="item in items | orderBy:'pickActivityId' :reverse=true" href="#/tab/my/pickdetail/{{item.pickActivityId}}">
            <i class="icon ion-chevron-right icon-accessory"></i>  {{item.sourceAddress}}->{{item.destAddress}}, {{item.status}}
         </ion-item>
       </ion-list>
  </ion-content>
</ion-view>
