<ion-view view-title="{{picked.sourceAddress}}->{{picked.destAddress}}">
  <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
               <span class="input-label">出发地</span><input type="text" placeholder="出发地" ng-model="picked.sourceAddress" value={{picked.sourceAddress}}>
            </label>
            <label class="item item-input">
               <span class="input-label">目的地</span><input type="text" placeholder="目的地" ng-model="picked.destAddress" value={{picked.destAddress}}>
            </label>
            <label class="item item-input">
                <span class="input-label">出发时间</span><input type="text" placeholder="出发时间" ng-click="openStartTimeDatePicker()" ng-model="picked.startTime" value={{picked.startTime}}>
            </label>
            <label class="item item-input">
                <span class="input-label">返回时间</span><input type="text" placeholder="返回时间" ng-click="openReturnTimeDatePicker()" ng-model="picked.returnTime" value={{picked.returnTime}}>
            </label>
            <label class="item item-input">
                <span class="input-label">汽车类型</span><input type="text" placeholder="汽车类型" ng-model="picked.carType" value={{picked.carType}}>
            </label>
            <label class="item item-input">
                <span class="input-label">费用</span><input type="text" placeholder="费用" ng-model="picked.charge" value={{picked.charge}}>
            </label>
            <label class="item item-input">
                <span class="input-label">备注</span><input type="text" placeholder="备注" ng-model="picked.note" value={{picked.note}}>
            </label>
            <a class="button button-block button-positive icon ion-clock" href="#/tab/my/pickedpeopleapplylist/{{picked.pickedActivityId}}">&nbsp;处理活动申请</a>
            <button class="button button-block button-balanced" ng-click="updatePickedActivity()">
              <i class="icon ion-loop"></i>&nbsp;更改求捡活动
            </button>
            <button class="button button-block button-assertive" ng-click="cancelPickedActivity()">
              <i class="icon ion-minus-circled"></i>&nbsp;取消求捡活动
            </button>
         </div>
  </ion-content>
</ion-view>
