<ion-view view-title="活动{{pickApply.pickActivityId}}的申请">
  <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
               <span class="input-label">活动编号</span><input type="text" placeholder="出发地" ng-disabled="true" value={{pickApply.pickActivityId}}>
            </label>
            <label class="item item-input">
               <span class="input-label">申请时间</span><input type="text" placeholder="目的地" ng-disabled="true" value={{pickApply.applyTime}}>
            </label>
            <label class="item item-input">
                <span class="input-label">当前状态</span><input type="text" placeholder="出发时间" ng-disabled="true" value={{pickApply.status}}>
            </label>
            <button class="button button-block button-assertive" ng-click="cancelPickActivityApply()">
              <i class="icon ion-minus-circled"></i>&nbsp;取消申请
            </button>
         </div>
  </ion-content>
</ion-view>
