<ion-view view-title="发布捡人活动">
  <ion-content>
          <div class="list">
            <label class="item item-input">
               <input type="text" placeholder="出发地">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="目的地">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="出发时间">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="返回时间">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="汽车类型">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="可捡人数目">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="费用">
            </label>
            <label class="item item-input">
               <input type="text" placeholder="备注">
            </label>
            <button class="button button-block button-balanced" ng-click="publishPickActivity()">
              <i class="icon ion-person-add"></i>&nbsp;发布捡人活动
            </button>
         </div>
  </ion-content>
</ion-view>
