<ion-view view-title="查看活动">
  <ion-content>
          <ion-refresher  pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>  
           <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
               <i class="icon ion-ios7-search placeholder-icon"></i>
               <input type="search" placeholder="Search">
            </label>
            <button class="button button-balanced">
                                       搜索
            </button>
           </div>
     
           <ion-list scroll="false" animation="fade-out">
            <ion-item class="item-divider">近期发布的捡人活动</ion-item>
            <ion-item ng-repeat="item in items" href="#/tab/view/pickdetail/{{item.pickActivityId}}">
              <i class="icon ion-email"></i> {{item.sourceAddress}}->{{item.destAddress}}, {{item.status}}
            </ion-item>
            
            <ion-item class="item-divider">近期发布的求捡活动</ion-item>
            <ion-item ng-repeat="item1 in items1" href="#/tab/view/pickeddetail/{{item1.pickedActivityId}}">
             <i class="icon ion-chatbubble-working"></i> {{item1.sourceAddress}}->{{item1.destAddress}}, {{item1.status}}
            </ion-item>
          </ion-list>
  </ion-content>
</ion-view>
