<ion-view view-title="个人">
  <ion-content>
        <ion-refresher  pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>       
        <ion-list scroll="false" animation="fade-out">
         <ion-item class="item-avatar item-icon-right" href="#/tab/my/picklist">
            <img ng-src="img/car_pick.jpg">
            <h2>我发布的捡人活动</h2>
            <p>点击查看我的捡人活动列表</p>
            <i class="icon ion-chevron-right icon-accessory"></i> 
         </ion-item>
         
         <ion-item class="item-avatar item-icon-right" href="#/tab/my/pickedlist">
            <img ng-src="img/car_picked.jpg">
            <h2>我发布的搭车活动</h2>
            <p>点击查看我的搭车活动列表</p>
            <i class="icon ion-chevron-right icon-accessory"></i> 
         </ion-item>
         
         <ion-item class="item-avatar item-icon-right" href="#/tab/my/pickapplylist">
            <img ng-src="img/car_pick.jpg">
            <h2>我申请的捡人活动</h2>
            <p>点击查看我的申请列表</p>
            <i class="icon ion-chevron-right icon-accessory"></i> 
         </ion-item>
         
         <ion-item class="item-avatar item-icon-right" href="#/tab/my/pickedapplylist">
            <img ng-src="img/car_picked.jpg">
            <h2>我申请的搭车活动</h2>
            <p>点击查看我的申请列表</p>
            <i class="icon ion-chevron-right icon-accessory"></i> 
         </ion-item>
         <ion-item class="item-avatar item-icon-right" href="#/tab/my/messagelist">
            <img ng-src="img/car_pick.jpg">
            <h2>我的消息</h2>
            <p>点击查看我的系统消息</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <span class="badge badge-assertive" style="margin-top:19px; margin-right:30px">{{messageLength}}</span> 
         </ion-item>
       </ion-list>
       <button class="button button-block button-assertive" ng-click="logoff()">
           <i class="icon ion-power"></i>&nbsp;退出登录
       </button>
  </ion-content>
</ion-view>
