<ion-view view-title="发布求捡活动">
  <ion-content>
          <div class="list">
            <label class="item item-input">
                <span class="input-label">出发地:</span><input type="text" ng-model="model.sourceAddress">
            </label>
            <label class="item item-input">
                <span class="input-label">目的地:</span><input type="text" ng-model="model.destAddress">
            </label>
            <label class="item item-input">
                <span class="input-label">出发时间:</span><input type="text" ng-model="model.startTime">
            </label>
            <label class="item item-input">
                <span class="input-label">返回时间:</span><input type="text" ng-model="model.returnTime">
            </label>
            <label class="item item-input">
                <span class="input-label">汽车类型:</span><input type="text" ng-model="model.carType">
            </label>
            <label class="item item-input">
                <span class="input-label">费用:</span><input type="text" ng-model="model.charge">
            </label>
            <label class="item item-input">
                <span class="input-label">备注:</span><input type="text" ng-model="model.note">
            </label>
            <button class="button button-block button-balanced" ng-click="publishPickedActivity()">
              <i class="icon ion-person-add"></i>&nbsp;发布求捡活动
            </button>
         </div>
  </ion-content>
</ion-view>
