<ion-view view-title="查看活动">
  <ion-content>
          <ion-refresher  pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>  
           <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
               <i class="icon ion-ios7-search placeholder-icon"></i>
               <input type="search" placeholder="Search">
            </label>
            <button class="button button-balanced">
                                                    搜索
            </button>
           </div>
     
           <ion-list scroll="false" animation="fade-out">
            <ion-item class="item-avatar item-icon-right" href="#/tab/view/picklist">
               <img ng-src="img/car_pick.jpg">
               <h2>捡人活动</h2>
               <p>点击查看近期捡人活动列表<br/>可选择合适的申请加入</p>
               <i class="icon ion-chevron-right icon-accessory"></i> 
            </ion-item>
            
            <ion-item class="item-avatar item-icon-right" href="#/tab/view/pickedlist">
               <img ng-src="img/car_picked.jpg">
               <h2>被捡活动</h2>
               <p>点击查看近期求捡活动列表<br/>可选择合适的申请加入</p>
               <i class="icon ion-chevron-right icon-accessory"></i> 
            </ion-item>
          </ion-list>
  </ion-content>
</ion-view>
