<ion-view view-title="发布捡人活动">
  <ion-content>
          <div class="list">
            <label class="item item-input">
                <span class="input-label">出发地:</span><input type="text" ng-model="model.sourceAddress">
            </label>
            <label class="item item-input">
                <span class="input-label">目的地:</span><input type="text" ng-model="model.destAddress">
            </label>
            <label class="item item-input">
               <span class="input-label">出发时间:</span><input type="text"  ng-click="openStartTimeDatePicker()" ng-model="model.startTime" placeholder="如 2015-10-01 12:30:00">
            </label>
            <label class="item item-input">
               <span class="input-label">返回时间:</span><input type="text"  ng-click="openReturnTimeDatePicker()" ng-model="model.returnTime" placeholder="如 2015-10-01 12:30:00">
            </label>
            <label class="item item-input">
               <span class="input-label">汽车类型:</span><input type="text" ng-model="model.carType">
            </label>
            <label class="item item-input">
               <span class="input-label">捡人数目:</span><input type="text" ng-model="model.capacity">
            </label>
            <label class="item item-input">
               <span class="input-label">费用:</span><input type="text" ng-model="model.charge">
            </label>
            <label class="item item-input">
               <span class="input-label">备注:</span><input type="text" ng-model="model.note">
            </label>
            <button class="button button-block button-balanced" ng-click="publishPickActivity()">
              <i class="icon ion-person-add"></i>&nbsp;发布捡人活动
            </button>
         </div>
  </ion-content>
</ion-view>
