<ion-tabs class="tabs-icon-left tabs-positive">

  <ion-tab title="查看" icon-off="ion-ios7-filing-outline" icon-on="ion-ios7-filing" href="#/tab/view">
    <ion-nav-view name="tab-view"></ion-nav-view>
  </ion-tab>

  <ion-tab title="捡人" icon-off="ion-ios7-clock-outline" icon-on="ion-ios7-clock" href="#/tab/pick">
    <ion-nav-view name="tab-pick"></ion-nav-view>
  </ion-tab>

  <ion-tab title="搭车" icon-off="ion-ios7-clock-outline" icon-on="ion-ios7-clock" href="#/tab/picked">
    <ion-nav-view name="tab-picked"></ion-nav-view>
  </ion-tab>

  <ion-tab title="个人" icon-off="icon ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/my">
    <ion-nav-view name="tab-my"></ion-nav-view>
  </ion-tab>

</ion-tabs>
