<ion-view view-title="{{activity.sourceAddress}}->{{activity.destAddress}}">
  <ion-content class="padding">
   <div class="list card" style="margin-top: 0px;">  
     <div class="item item-avatar">
       <img src="{{activity.ownerAvatar}}">
       <h2>{{activity.ownerName}}</h2>
       <h4>{{activity.ownerCountry}} {{activity.ownerProvince}} {{activity.ownerCity}}</h4>
     </div>
      <div ng-if="activity.applied" class="item item-divider">
           <h4 >您已申请，状态：{{activity.myapply.status}}</h4>
      </div>
      <div class="row">
          <div class="col col-75">
              <div ng-if="activity.pick" class="item item-text-wrap" style="margin-top: -9px; margin-left: -10px;">
                  {{activity.applyNumber}}个搭车申请，{{activity.approveNumber}}人被批准
              </div>
              <div ng-if="activity.picked" class="item item-text-wrap" style="margin-top: -9px; margin-left: -10px;">
                  {{activity.applyNumber}}个车主申请，{{activity.approveNumber}}人被批准
              </div>
          </div>
          <div class="col col-25">
              <a ng-if="activity.my" style="margin-top: -1px;" class="button button-small button-full button-balanced" href="#/tab/view/activitydetailapply/{{activity.activityId}}">
                                                                     处理
              </a>
          </div>
      </div> 
     <div style="margin-top: -15px;" class="item item-body">
      <h3 style="margin-top: 0px;"> 拼车类型：{{activity.type}} </h3>
      <h3> 地点：{{activity.sourceAddress}} -> {{activity.destAddress}} </h3>
      <h3> 时间：{{activity.startTime}} -> {{activity.returnTime}} </h3>
      <h3 ng-if="activity.pick"> 容纳人数：{{activity.capacity}} </h3>
      <h3 ng-if="activity.pick">剩余空位：{{activity.capacity-activity.approveNumber}}</h3><h3 ng-if="activity.picked">搭车人数：{{activity.capacity}}</h3>
      <h3> 手机：{{activity.ownerPhone}} </h3>
      <h3> 费用：{{activity.charge}} </h3>
      <h3> 汽车类型：{{activity.carType}} </h3>
      <h3> 说明：{{activity.note}} </h3>
      <hr/>      
      <div ng-repeat="message in messages" >
        <a ng-if="message.isReply==0" ng-click="replyMessage(message.fromUid, message.fromName)"><h4>{{message.fromName}}: {{message.content}}</h4></a>
        <a ng-if="message.isReply==1" ng-click="replyMessage(message.fromUid, message.fromName)"><h4>{{message.fromName}}回复{{message.toName}}: {{message.content}}</h4></a>
      </div>  
     </div>   
     <div class="item tabs tabs-secondary tabs-icon-left">
       <a ng-if="!activity.my && activity.pick && !activity.applied" class="tab-item" href="#" ng-click="applyActivity()">
         <i class="icon ion-thumbsup"></i>
                                 搭车
       </a>
       <a ng-if="!activity.my && activity.picked && !activity.applied" class="tab-item" href="#" ng-click="applyActivity()">
         <i class="icon ion-thumbsup"></i>
                                 捡TA
       </a>
       <a ng-if="!activity.my && activity.applied && (activity.myapply.status=='等待批准' || activity.myapply.status=='已批准')" class="tab-item" href="#" ng-click="cancelApply(activity.myapply.applyId)">
         <i class="icon ion-minus-circled"></i>
                                取消申请
       </a>
       <a ng-if="!activity.my && activity.applied && (activity.myapply.status=='已拒绝' || activity.myapply.status=='已取消')" class="tab-item" href="#" ng-click="renewApply(activity.myapply.applyId)">
         <i class="icon ion-thumbsup"></i>
                              再次申请
       </a>
       <a ng-if="activity.my && activity.status != '已取消'" class="tab-item" href="#/tab/view/activitydetailupdate/{{activity.activityId}}">
         <i class="icon ion-edit"></i>
                                修改活动
       </a>
       <a ng-if="activity.my && activity.status != '已取消'" class="tab-item" href="#" ng-click="cancelActivity()">
         <i class="icon ion-minus-circled"></i>
                                 取消活动
       </a>
       <a class="tab-item" href="#" ng-click="leaveMessage()">
         <i class="icon ion-chatbox"></i>
                                  留言
       </a>
       <a class="tab-item" href="#" ng-click="shareActivity()">
         <i class="icon ion-share"></i>
                           分享
       </a>
     </div>
     <div ng-if="showMessageWidget" class="row">
      <input type="text" class="col col-80" style="border: 1px solid lightgray;" placeholder="{{messagePlaceHolder}}" ng-model="data.userMessage" autofocus="autofocus"></input>
      <button class="button button-small button-balanced icon-left ion-paper-airplane col" ng-click="sendMessage()">发送</button>
     </div>
   </div>
  </ion-content>
</ion-view>
