<ion-view view-title="{{pick.sourceAddress}}->{{pick.destAddress}}">
  <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
               <span class="input-label">出发地</span><input type="text" placeholder="出发地" value={{pick.sourceAddress}}>
            </label>
            <label class="item item-input">
               <span class="input-label">目的地</span><input type="text" placeholder="目的地" value={{pick.destAddress}}>
            </label>
            <label class="item item-input">
                <span class="input-label">出发时间</span><input type="text" placeholder="出发时间" value={{pick.startTime}}>
            </label>
            <label class="item item-input">
                <span class="input-label">返回时间</span><input type="text" placeholder="返回时间" value={{pick.returnTime}}>
            </label>
            <label class="item item-input">
                <span class="input-label">汽车类型</span><input type="text" placeholder="汽车类型" value={{pick.carType}}>
            </label>
            <label class="item item-input">
                <span class="input-label">可捡人数目</span><input type="text" placeholder="可捡人数目" value={{pick.capacity}}>
            </label>
            <label class="item item-input">
                <span class="input-label">费用</span><input type="text" placeholder="费用" value={{pick.charge}}>
            </label>
            <label class="item item-input">
                <span class="input-label">备注</span><input type="text" placeholder="备注" value={{pick.note}}>
            </label>
            <button class="button button-block button-balanced" ng-click="publishPickActivity()">
              <i class="icon ion-person-add"></i>&nbsp;申请加入
            </button>
         </div>
  </ion-content>
</ion-view>
